body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  header.n1{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
    height: 50vh;
    
}